body {
    background-image: url("../../images/steakhouse.jpg");
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    min-width: 100vh;
}

h1 {
    color: white;
}