/* CSS Custom Properties */
:root {
  --white: #FFFFFF;
  --tan-1: #FBF9F6;
  --tan-2: #E7E2DD;
  --tan-3: #E2D9D1;
  --tan-4: #1a1a1a;
  --purple: #472a4b;
  --text-light: #968c84;
  --text-dark: #615954;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--tan-4) !important;
  padding: 2vmin;
  height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  height: 100%;
}

.align-ctr {
  text-align: center;
}

.align-rt {
  text-align: right;
}

.smaller {
  font-size: smaller;
}

.flex-ctr-ctr {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-col {
  flex-direction: column;
}

.flex-j-end {
  justify-content: flex-end;
}

.scroll-y {
  overflow-y: scroll;
}

.section-heading {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--tan-1);
  color: var(--text-dark);
  border: .1vmin solid var(--tan-3);
  border-radius: 1vmin;
  padding: .6vmin;
  text-align: center;
  font-size: 2vmin;
}

.form-container {
  min-width: 500px;
  margin: 0 8em;
  padding: 3vmin;
  background-color: var(--tan-1);
  border: .1vmin solid rgb(65, 61, 61);
  border-radius: 1vmin;
  background: rgb(138,79,63);
  background: linear-gradient(180deg, rgba(138,79,63,0.6558998599439776) 17%, rgba(164,137,129,0.6558998599439776) 62%);
}


p.error-message {
  color: var(--purple);
  text-align: center;
}

form {
  min-width: 25em;
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 1.25vmin;
  color: var(--text-light);
}

label {
  color: rgb(7, 7, 7);
  font-size: 2vmin;
  display: flex;
  align-items: center;
}

input {
  min-width: 3em;
  padding: 1vmin;
  font-size: 2vmin;
  border: .1vmin solid var(--tan-3);
  border-radius: .5vmin;
  color: var(--text-dark);
  background-image: none !important;
  /* prevent lastpass */
  outline: none;
}

input:focus {
  border-color: var(--purple);
}

button,
a.button {
  margin: 1vmin;
  padding: 1vmin;
  color: var(--white);
  background-color: var(--purple);
  font-size: 2vmin;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  border: .1vmin solid var(--tan-2);
  border-radius: .5vmin;
  outline: none;
  cursor: pointer;
}

button.btn-sm {
  font-size: 1.5vmin;
  padding: .6vmin .8vmin;
}

button.btn-xs {
  font-size: 1vmin;
  padding: .4vmin .5vmin;
}

button:disabled,
form:invalid button[type="submit"] {
  cursor: not-allowed;
  background-color: var(--tan-4);
}

button[type="submit"] {
  grid-column: span 2;
  margin: 1vmin 0 0;
}

@media only screen and (max-width: 840px) {
  input {
    font-size: 1.2em;
  }
  h2 {
    font-size: 2.1em;
  }
  h5 {
    font-size: 1.2em;
  }
  label {
    font-size: 1.2em;
  }
  button {
    font-size: 1.2em;
  }
  .form-container {
    margin: 0 8e;
  }
}

@media only screen and (min-width: 840px) {
  .form-container {
    margin: 0 auto;
    max-width: 35vw;
  }
  h2 {
    font-size: 2.1em;
  }
}